<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
                @Html.ActionLink("View Products", "Index", "Products",null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Create Products", "Create", "Products",null, new { @class = "nav-link" })
            </li>
        </ul>
        <ul class="navbar nav ml-auto">
            <li class="nav-item">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="#" class="nav-link" style="color:darkorange">Welcome : @User.Identity.Name</a>
                }
            </li>
            <li class="nav-item" >
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("SignOut", "SignOut", "Users",null, new { @class = "nav-link form-control btn-success" })
                }
                else
                {
                    @Html.ActionLink("SignIn", "Index", "Users",null, new { @class = "nav-link form-control btn-success col-md-15" })
                }
            </li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    @Html.ActionLink("SignUp", "SignUp", "Users",null, new { @class = "nav-link form-control btn-info col-md-10 ", @style = "margin-inline:8px" })
                </li>
            }
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>